@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body,
h1,
h2,
p,
ul,
li,
a {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #171717;
  font-family: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  color: pink;
}

* {
  box-sizing: border-box;
}

/*	NAV STYLES	*/
.menu {
  max-width: 1100px;
  margin: 0 auto;
  padding: 35px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#btn-mobile {
  display: none;
}

.menu a {
  color: #f9f9f9;
  padding: 10px;
}

.menu-logo {
  font-size: 26px;
  font-weight: 700;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 18px;
  color: #f9f9f9;
  margin: 0 10px;
}

.menu a:hover {
  color: pink;
  background-color: #171717;
  text-decoration: none;
}