/*
#body {
    margin-right: auto;
    margin-left: auto;

    max-width: 1500px;

} */


.logo1 {
    
    object-fit: cover;
}


.imagem-carrossel {

    /* max-width: 1000px; */
    height: 700px;
    width: 1300px;

    object-fit: cover;

    /* 
    
    object-position: 0 80%;
    max-height: 800px; */


}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: rgb(83, 39, 7);
}

.botao-cor-especial {
    background-color: rgb(83, 39, 7);
    color: white;
}

.borda-cor-especial {
    border-color: rgb(83, 39, 7);
}

.imagem-card {
    height: 400px;
}

.card_largura{
  max-width: 100%;  
}

.background-footer {
    background-color: rgb(212, 206, 201);
}