


/*
#body {
    margin-right: auto;
    margin-left: auto;

    max-width: 1500px;

} */

 

.imagem-carrossel {
       
    /* max-width: 1000px; */
   
    
    height: 700px;
    width: 1200px;
    
    object-fit: cover;
    
    /* 
    
    object-position: 0 80%;
    max-height: 800px; */
    
    
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial{
    color: rgb(83, 39, 7);
}

.botao-cor-especial{
    background-color: rgb(83, 39, 7);
    color: white;
}

.borda-cor-especial{
    border-color: rgb(83, 39, 7);    
}












